[Desktop Entry]
Version=1.0
Type=Application
Name=Wiremix
Comment=Manage audio devices and volumes
Exec=omarchy-launch-audio
Icon=wiremix
Terminal=false
Categories=System;Audio;
Keywords=audio;sound;volume;pipewire;
